.myULstyle {

    list-style: none;
}

.toDo-item {
    width: 600px;
    height: 25px;
    padding: 5px;
    margin: 5px;
    border-style: groove;
}

.closeBtn {
    position: absolute;
    right: 200px;

}

.checked {
    text-decoration: line-through;
    color: green;
}