
.newsDisplays {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}



.article-card {

width: 500px;
height: 600px;
padding: 20px;
padding-top: 5px;
margin: 10px;
text-align: center;
border-radius: 20px;
background-color: silver;
    
}

.article-title {
    color: blue
    
}

.articleImg {
    height: 300px;
    width: 400px;
    padding: 0px;
}

.loadMoreBtncss {
    background-color: blueviolet;
}


button.hidden {
    display: none;
}