
.newsDisplays {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}



.article-card {
border-style: solid;
width: 450px;
height: 400px;
padding: 20px;
padding-top: 5px;
margin: 10px;
text-align: center;
    
}

.article-title {
    color: blue
    
}

.articleImg {
    height: 200px;
    width: 300px;
    padding: 0px;
}

.loadMoreBtncss {
    background-color: blueviolet;
}


button.hidden {
    display: none;
}